<!DOCTYPE html>
<html lang="en">
{% trans_default_domain "messages" %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ "navbar.navbar_name"|trans() }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand"> {{ "navbar.navbar_brand"|trans() }}</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <div>
                    <a class="navbar-brand"
                       href="{{ path('app_homepage') }}"> {{ "navbar.navbar_homepage"|trans() }}</a>
                </div>
            </li>

            <li>
                <div>
                    <a class="navbar-brand" href=""> {{ "navbar.navbar_teams"|trans() }}</a>
                </div>
            </li>

            <li>
                <div>
                    <a class="navbar-brand"
                       href=""> {{ "navbar.navbar_tournaments"|trans() }}</a>
                </div>
            </li>

            <li>
                <div>
                    <a class="navbar-brand"
                       href="{{ path('app_event_view') }}"> {{ "navbar.navbar_events"|trans() }}</a>
                </div>
            </li>

            <li>
                <div>
                    <a class="navbar-brand"
                       href="{{ path('app_contacts') }}"> {{ "navbar.navbar_contacts"|trans() }}</a>
                </div>
            </li>

            <li>
                <div style="margin-top: -7px;" class="btn-group navbar-brand" role="group" aria-label="Select language">
                    <button type="button" class="btn btn-default">
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">en</a>
                    </button>
                    <button type="button" class="btn btn-default">
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">ru</a>
                    </button>
                    <button type="button" class="btn btn-default">
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ua'})) }}">ua</a>
                    </button>
                </div>
            </li>
        </ul>
    </nav>
</div>
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}

<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-footer">
            <a class="navbar-brand">Copyright © 2015. Slavka-JD. Life is but a game </a>
        </div>
    </nav>
</div>

</body>
</html>
